<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--服务名-->
    <property name="APP_NAME" value="cloud-eureka-client-article-service"/>
    <!--日志路径(linux下)(勿在 LogBack 的配置中使用相对路径)-->
   <!-- <property name="LOG_PATH" value="/var/log/cloud"/>-->
    <!--windows路径-->
    <property name="LOG_PATH" value="C:/Users/Administrator/Desktop/log"/>
    <springProperty scope="context" name="PORT" source="server.port"/>
    <!--日志格式表达式-->
    <!--traceId(整个请求的唯一ID，它标识着整个请求的链路)  spanId(发起一次远程调用就是一个span)-->
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%thread] %highlight(%-5level) %yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId}) %green(%logger): %msg%n"/>

   <!--设置2个地方保存日志，一个是控制台，一个是保存为日志文件,(使用此标签<appender>)-->
    <!--ConsoleAppender控制台-->
    <!--控制台日志设置-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--日志设置-->
    <!--RollingFileAppender文件方式保存-->
    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 按照每天生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出的文件名-->
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.log</fileNamePattern>
            <!--保留时间-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--编码方式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--此包名下面的日志级别-->
    <logger name="com.zqj" level="warn"/>
    <logger name="java.sql.PreparedStatement" level="warn"/>
    <logger name="java.sql.Statement" level="warn"/>
    <logger name="java.sql.Connection" level="warn"/>
    <logger name="org.mybatis" level="warn"/>
    <logger name="io.swagger" level="warn"/>
    <!--日志级别-->
    <root level="info">
        <!--日志展示在控制台以及自己定义的logstash-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="logstash"/>
    </root>
</configuration>